/* Mobile css */
.home-page {
  display: flex;
  flex-direction: column;
  margin: initial;
  padding-top: 100px;
  background-color: #ececec;
}

.hello {
  margin-bottom: initial;
  margin-top: 40px;
  color: #ec5242;
  font-size: 20px;
  font-weight: 500;
  margin-left: 3vw;
}

.web-title {
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 5px;
  color: #ec5242;
  margin-left: 3vw;
  margin-bottom: initial;
}

.h-content {
  width: 95%;
  margin-left: 2%;
  margin-right: 2%;
  border: 3px solid #fff;
  margin-top: 20px;
}

.h-content p {
  padding: 15px 15px;
  margin: initial;
  color: #272a31;
  font-size: 14px;
}

.dates {
  margin-left: 3vw;
  color: #272a31;
  margin-bottom: initial;
  margin-top: 15px;
}

.h-copyright {
  margin-left: 3vw;
  margin-top: 5px;
  margin-bottom: 60px;
  color: #272a31;
}

/* For the main program */

.main-program {
  /* background-color: #272a31; */
  background: url(../images/bgr.png);
  margin-top: -20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.p-title {
  margin-top: 20px;
  margin-bottom: 15px;
}

.main-program h2 {
  margin-top: 5px;
  color: #d3d3d3;
  margin-bottom: 5px;
}

.line {
  width: 40px;
  border: 0.5px solid #ec5242;
}

.programs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.program {
  display: flex;
  align-items: center;
  background-color: rgba(61, 63, 69, 0.5);
  text-align: left;
  margin-left: 2%;
  margin-right: 2%;
}

.p-header {
  display: flex;
  width: 38%;
  align-items: center;
}

.p-img {
  max-height: 50px;
  margin-left: 20px;
}

.services {
  font-size: 50px;
  color: #d3d3d3;
  margin-left: 20px;
  z-index: 0;
  margin-top: 10px;
}

.p-header h4 {
  color: #ec5242;
  margin-left: 20px;
}

.p-text {
  color: #d3d3d3;
  width: 60%;
  font-size: 13px;
}

.join-btn {
  background-color: #ec5242;
  color: #d3d3d3;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 30px;
  margin-bottom: 40px;
  border: 1px solid #ec5242;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Featured speaker */

.speakers {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.s-title {
  margin-top: 20px;
  margin-bottom: 15px;
}

.s-title h2 {
  margin-top: 5px;
  color: #272a31;
  margin-bottom: 5px;
}

.c-speakers {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.speaker {
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
}

.hide-on-mobile {
  display: none;
}

.s-img {
  width: 30%;
  background: url(../images/im-bgr.png);
  background-position-y: top;
  background-position-x: left;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s-img img {
  max-height: 100px;
  margin-top: 10px;
}

.s-details {
  display: flex;
  flex-direction: column;
  width: 68%;
  margin-left: 2%;
  text-align: left;
}

.s-details h4 {
  margin: initial;
  color: #272a31;
}

.details-title {
  font-size: 12px;
  color: #ec5242;
  margin-top: 5px;
}

.s-text {
  font-size: 11px;
  color: #272a31;
  margin-top: 5px;
}

.s-line {
  margin-right: 94%;
}

.more-speaker {
  margin-top: 50px;
  margin-left: 2%;
  margin-right: 2%;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  background-color: #fff;
  margin-bottom: 30px;
}

.more-speaker span {
  color: #ec5242;
  font-weight: bold;
}

/* Menu to hide on mobile */

.desktop-link {
  display: none;
}

.partners-wrapper {
  display: none;
}

.footer {
  display: none;
}

@media only screen and (min-width: 768px) {
  /* About section 4 */

  .partners-wrapper {
    background-color: #272a31;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .partner-title {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .partners-wrapper h2 {
    margin-top: 5px;
    color: #d3d3d3;
    margin-bottom: 5px;
  }

  .partner-line {
    width: 40px;
    border: 0.5px solid #ec5242;
  }

  .partners {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  /* About last section */

  .partner {
    max-width: 150px;
    max-height: 70px;
    margin: initial;
  }

  .footer {
    display: flex;
    gap: 2%;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding-top: 20px;
  }

  .dev-logo {
    max-height: 30px;
  }

  .footer-c {
    color: #272a31;
    font-size: 12px;
  }
}
